@{
    ViewBag.Title = "SEO Results";
}

<div>
    <h1>Infotrack SEO results for phrase: @ViewBag.SearchPhrase</h1>
    <row>
        <p class="lead">Infotrack webpage has been found on following places: @ViewBag.Places</p>
    </row>
</div>
